*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #000;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

ul{
  list-style: none;
  padding-inline-start: 0;
}

.btn{
  padding: 0.5rem 1rem;
  border: 1px solid;
  margin: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.container{
  max-width: 30rem;
  margin: 1.5rem auto;
  padding-bottom: 1rem;
  border-radius: 5px;
  background: #fff;
}